html {
    box-sizing: border-box;
    color: #F9FAF8;
    font-family: sans-serif;
}

*,*::before,*::after {
    box-sizing: inherit;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    border: none;
    border-radius: 7px;
    background: #3882F6;
    color: inherit;
    width: 110px;
    padding: 7px;
}

header, .copyright {
    background-color: #1F2937;
}

header, .nav, .links, .intro-content, .intro-words, .main-section, .quote-section, .pic, .birb-pics, .sign-up-form, .sign-up-form div {
    display: flex;
}

header, .intro-words, .main-section, .pic, .quote-section, .sign-up-form div{
    flex-direction: column;
}

button, .first-para, .main-title, .quote-author {
    font-weight: bold;
}

.nav, .intro-content, .main-section, .quote-section {
    align-items: center;
}

.main-title, .quote {
    font-size: 36px;
}

header {
    padding-left: 170px;
    padding-right: 170px;
    gap: 6rem;
}

.webpage-logo {
    margin-left: 50px;
    flex-grow: 2;
}

.webpage-logo img {
    width: 100px;
    height: auto;
}

.webpage-links {
    flex-grow: 1;
}

.links {
    justify-content: space-around;
    align-items: flex-end;
}

.intro-content {
    padding-bottom: 40px;
    gap: 5rem;
    justify-content: center;
}

.intro-image img {
    width: 360px;
    height: auto;
}

.intro-words {
    width: 50%;
    gap: 1rem;
    align-self: flex-start;
}

.first-para {
    font-size: 48px;
}

.main-section {
    padding: 6rem;
    gap: 2rem;
}

.main-title {
    color: #1F2937;
}

.birb-pics {
    gap: 2rem;
}

.pic {
    width: 200px;
    gap: 10px;
}
.pic img {
    border: 3px solid #3882F6;
    border-radius: 10px;
    width: 200px;
    height: auto;
}

.pic p {
    color: #a7acb4;
}

.quote-section {
    padding: 6rem;
    background-color: #E5E7EB;
}

.quote-section p {
    color: #1F2937;
}

.quote, .quote-author {
    width: 50%;
}

.quote {
    font-style: italic;
}

.quote-author {
    text-align: end;
}

.sign-up{
    padding: 4rem;
}

.sign-up-form {
    padding: 3rem;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #3882F6;
    width: 65%;
    height: auto;
}

.sign-up-form div {
    flex-grow: 1;
}

.sign-up-form button {
    align-self: flex-end;
    border: 2px solid white;
}

.form-words :first-child {
    font-weight: bold;
}

.copyright {
    text-align: center;
    padding: 2rem;
}